@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800;900&display=swap');

body {
	font-family: Inter;
	font-style: normal;
	font-weight: 400;
	margin: 0px;
	background-color: #DFE9DA;
}

.link {
	text-decoration: none;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: #2D2D1F;
}

.header {
	position: sticky;
}

.conteiner {
	max-width: 1516px;
	padding: 33px 0px 22px 0px;
	background-color: #E2E1DD;
}

.header__wrapper {
	margin: 0px auto;
	max-width: 1276.5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 14px 0px;
}

.header__logo {
	font-weight: 400;
	font-size: 39.16px;
	line-height: 47px;
	text-transform: uppercase;
	color: #2D2D1F;
}

.header__logo span {
	font-weight: 700;
	font-size: 39.16px;
	line-height: 47px;
	text-transform: uppercase;
	color: #2D2D1F;
}

.nav {
	display: flex;
	gap: 21.5px;
}

.nav__wrapper {
	display: flex;
	gap: 106px;
}

.header__icon {
	display: flex;
	gap: 17.34px;
}

.header__buttom {
	border: none;
	background-color: #E2E1DD;
}

.header__buttom:last-child {
	margin-right: 8px;
}