@media (max-width:1499px) {

	.categories__inner{
		padding-left: 10px;
	}

	.categories__list{
		gap: 100px;
	}

.present__list{
	max-width: 600px;
}

.present{
	gap: 116px;
}

.design__image{
	max-width: 656px;
}

.design__image-behind{
	left: 268px;
}
}

@media (max-width:1195px) {

	.nav__wrapper {
		padding-left: 282px;
		gap: 47px;
	}

	.section-top__content{
		gap: 25px;
	}

	.search__button{
		right: 0px;
	}

	.categories__list{
		gap: 29px;
	}

	.present{
		flex-direction: column;
		gap: 38px;
	}

	.present__content{
		max-width: 100%;
	}

	.present__content{
		text-align: center;
	}

	.present__content-img{
		margin-left: 224px;
	}

	.present__list{
		max-width: 99%;
	}

	.present__list{
		margin-top: 75px;
	}

	.design__inner{
		gap: 0px;
	}

	.reviews{
		max-width: 321px;
	}

	.section-reviews__inner{
		justify-content: space-around;
	}

	.discount__inner{
		max-width: 99%;
	}

	.footer__content:first-child {

		margin-left: 10px;
	}
}

@media(max-width:1023px){

	.nav__wrapper {
		padding-left: 16px;
	}

	.section-top__item:last-child {
		display: none;
	}

		.search__button {
			right: 294px;
		}

		.categories__title {
			margin-top: 34px;
			margin-bottom: 42px;
		}

		.categories__list{
			flex-direction: column;
			align-items: center;
			gap: 92px;
			margin-bottom: 43px;
		}

		.present__content-img{
			margin-left: 117px;
		}

		.present{
			gap: 0px;
		}

		.present__list{
			margin-top: 75px;
		}

		.design__inner{
			display: none;
		}

		.section-reviews{
			margin-top: 28px;
		}

		.section-reviews__inner{

			flex-direction: column;
			align-items:center;
			gap: 0px;
		}

		.reviews{
			max-width: 422px;
			margin-bottom: 55px;
		}

		.discount__gradient{
			width: 760px;
		}

		.footer__inner{
			padding: 45px 0px 40px 0px;
			justify-content: space-around;
		}

		.footer__content:nth-child(3){
			display: none;
		}

		.footer__content:nth-child(4) {
			display: none;
		}

}

@media(max-width:767px){


}