.aboutUs{

&__inner{
	margin: 15px 0px;
		display: flex;
		flex-direction: column;
		align-items:center;
		gap: 10px;
}

&__title{
	@extend %title;
}

&__text{
	padding: 0px 70px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.05em;
	text-transform: capitalize;
	color: #000000;
	text-align: left;
}

.aboutUs__text{
	padding: 0px;
}


}