
.card {
	
	&__list{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-evenly;
			background-color: #FFFFFF;
	}


	&__item{
		margin: 15px 6px 0px 0px;
		display: flex;
		flex-direction: column;
		position: relative;
		transition: all 0.3s ease;
	

		 &:hover {
			z-index: 1;
			transform: scale(1.1);
			box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
			background-color: #ffffff;
		 
		 }

			&:hover {
				.card__content-bottom {
					visibility: visible;
				}
            
				
	}

}


	&__img {
		width: 350px;
		height: 290px;
	}

	&__image {
		&:hover {
			.slider__nav {
				display: flex;
			}
		}
	}

	&__content {
		margin-top: 15px;
		display: flex;
		flex-direction: column;
		position: relative;


	}

	&__title {
		font-size: 24px;
		line-height: 130.02%;
		letter-spacing: .02em;
		text-transform: capitalize;
		color: #2d2d1f;

	}

	&__price {
		display: flex;
		gap: 10px;
		font-weight: 400;
		font-size: 19px;
		letter-spacing: .05em;
		text-transform: capitalize;
		color: #d70404;
	}


	&__content-top {
		margin-left: 15px;
		display: flex;
		flex-direction: column;
		gap: 5px;
	}

	&__button {
		padding: 10px 0px 0px 30px;
	}

	&__button-btn {
		margin-left: 10px;
		margin-bottom: 5px;
		height: 43px;
		width: 120px;
	}

	&__content-bottom{
      width: 100%;
		top: 50px;
		z-index: 1;
		visibility: hidden;
	}


}

.sale {
	background-image: url(./../images/icon/sale.svg);
	display: flex;

		&__old-price {
			font-weight: 400;
			font-size: 19px;
			letter-spacing: .05em;
			text-transform: capitalize;
			color: #2d2d1f;
			text-decoration: line-through;
			margin-right: 10px;
		}

	&__text {
		font-weight: 400;
		font-size: 13px;
		letter-spacing: .04em;
		color: #2d2d1f;
	}

}

.slider {
	width: 424px;
	display: flex;
	flex-direction: column;

	&__wrapper {
		width: 100%;
		box-shadow: 0 4px 30px rgba(0, 0, 0, .25);
		overflow: hidden;
		position: relative;
	}

	&__inner {
		display: flex;
		width: 300%;
		transition: all 0.5s ease 0s;
	}

	&__item {
		position: relative;
	}

	&__nav {
		top: -0px;
		left: 0px;
		width: 100%;
		height: 100%;
		position: absolute;
		display: none;
		justify-content: space-between;
		align-items: center;
		z-index: 5;
	}

	&__nav-img {
		width: 20px;
		height: 20px;
		opacity: 0.3;
	}

	&__nav-item.nav-prev {

		transform: rotateY(190deg);

	}

	&__nav-item.nav-link {

		width: 50%;
		height: 50%;
		border: 1px solid black ;
	}

	&__indicator {
		position: absolute;
		bottom: 10px;
		left: 150px;
		z-index: 15;
		list-style: none;
		display: flex;
		justify-content: center;
	}


	&__indicator-dot {
		box-sizing: content-box;
		flex: 0 1 auto;
		width: 20px;
		height: 1px;
		margin-right: 3px;
		margin-left: 3px;
		cursor: pointer;
		background-clip: padding-box;
		border: solid black;
		opacity: .1;
		transition: opacity .6s ease;
	}

}

.product-color {
	display: flex;
	gap: 10px;
	margin: 10px 0px 10px 15px;


	&__item {
		display: flex;
		justify-content: center;
		align-items:center;	
		height: 25px;
		width: 25px;
	}

	&__item img {
		height: 20px;
		width: 20px;
		border-radius: 50%;
	}

	&__item_on{
   
		border: 2px solid #2D2D1F;
		border-radius:50%

	}
}
