<div class="characteristics">
	<div class="characteristics__inner">

		<div class="characteristics-item">
			<p class="characteristics__title">Каркас:<span class="characteristics__text">фанера, ДВП, пружинная змейка</span></p>
		</div>

      <div class="characteristics__item">
      	<p class="characteristics__title">Наполнение посадочного места:<span class="characteristics__text">независимый пружинный
      			блок</span></p>
      </div>

		<div class="characteristics-item">
			<p class="characteristics__title">Наполнение приспинных подушек:<span class="characteristics__text">Крошка ППУ,
					холлофайбер</span></p>
		</div>

		<div class="characteristics-item">
			<p class="characteristics__title">Ткань:<span class="characteristics__text">Ultra Coral велюр</span></p>
		</div>

		<div class="characteristics-item">
			<p class="characteristics__title">Cтрана производства:<span class="characteristics__text">Россия</span></p>
		</div>
	</div>
</div>
