<header class="header">
	<div class="conteiner">

		<div class="header__inner">
			<a class="header__logo" href="#main">
				True<span>Buy</span>
			</a>
			<nav class="nav">
				<div class="nav__wrapper">

					<div class="nav__item">
						<a class="nav__link" href="#product">Товары</a>
					</div>


					<div class="nav__item">
						<a class="nav__link" href="#">Идеи и тренды</a>
					</div>

					<div class="nav__item">
						<a class="nav__link" href="#">О компании</a>
					</div>

				</div>
			</nav>

			<div class="header__icon">
				<button class="header__buttom">
					<img class="icon" src="../../img/icon/Group.png" alt="logo">
				</button>

				<button class="header__buttom">
					<img class="icon" src="../../img/icon/fa_user.png" alt="logo">
				</button>
			</div>

		</div>
	</div>
</header>
