<div class="product-reviews">
	<div class="product-reviews__inner">

		<div class="product-reviews__top">
			<h3 class="product-reviews__title">Отзывы <span>(1)</span></h3>
		</div>

   <div class="product-reviews__item">
		<div class="product-reviews__name">Иван Т. <span class="product-reviews__grade"></span></div>
		<p class="product-reviews__text">Диван замечательный! Очень удобный, красивый, комфортно сидеть, лежать, спать.
			выглядит не громоздким. Качество великолепное! Спасибо всем, кто сделал такой диван! Доставили, собрали: все
			быстро, вежливо, аккуратно.</p>
		<div class="product-reviews__imges">
			<img src="../../img/review/4825726.jpg" alt="#">
		</div>
	</div>

	<div class="button product-reviews__button">
	<button class="button__btn product-reviews__button-btn">Добавить отзыв</button>
	</div>
	</div>
	</div>
</div>