			<div class="section-top__product">

					<div class="product tableOne">
						<div class="product__title">Krista Table</div>
						<div class="product__text">Coffee table, light brown</div>
						<div class="product__price">Rp2.199.000</div>
						<button class="product__btn">Shop Now</button>
					</div>

					<div class="product tableTwo">
						<div class="product__title">Hemes Table</div>
						<div class="product__text">coffee table, light brown</div>
						<div class="product__price">Rp3.199.000</div>
						<button class="product__btn">Shop Now</button>
					</div>

					<div class="product Sofa">
						<div class="product__title">Vimle Sofa</div>
						<div class="product__text">2-seat sofa, Vissle grey</div>
						<div class="product__price">Rp3.195.000</div>
						<button class="product__btn">Shop Now</button>
					</div>

				</div>
			</div>